nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 10px;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
nav ul li:hover{
    background-color: blue;
    /* color: #fff; */
    padding: 0;
}
nav ul li a:hover{
    color: #fff;
}